
{% extends "_base.html" %}

{% block content %}

	<div class="container">
		<br></br>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">

				<div class="item active">
					<img
						src="../../static/img/Frozen.jpg"
						alt="Frozen" width="460" height="345"></img>
				</div>

				<div class="item">
					<img
						src="../../static/img/Superman.jpg"
						alt="Superman" width="460" height="345"></img>
				</div>

				<div class="item">
					<img
						src="../../static/img/Frozen.jpg"
						alt="Frozen1" width="460" height="345"></img>
				</div>

				<div class="item">
					<img
						src="../../static/img/Superman.jpg"
						alt="Superman1" width="460" height="345"></img>
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" role="button"
				data-slide="prev"> <span
				class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a> <a class="right carousel-control" href="#myCarousel" role="button"
				data-slide="next"> <span
				class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

	<!-- Insert Columns after Carousel next -->
	<!-- <div class="container">
		<p></p>
		<p></p>
<h1>Browse Movie Collection</b></h1>
		<div class="row">
			<div class="col-sm-4"><h3>1</h3></div>
			<div class="col-sm-4"><h3><font color="lightblue">2</font></h3></div>
			<div class="col-sm-4"><h3>3</h3></div>
		</div>
	</div> -->


	{% endblock %}
