<form role="form" action="/movieinfo/imdb" method="get">
        <div class="form-group">

          <div class="row">
            <div class="col-sm-1">
              <label for="objectID">&emsp;</label>
              <select class="form-control" name="sortby">
                <option selected value="asc"> >= </option>
                <option value="equal"> = </option>
                <option value="desc"> <= </option>
              </select>
            </div>

            <div class="col-sm-1">
                <label for="objectID">&emsp;</label>
              <select id="someSelect" class="form-control" name="imdbrating">
                      <!-- Javascript inserts options -->
              </select>
            </div>
            <!-- <div class="col-sm-1"></div> -->
            <div class="col-sm-1">
                <label for="objectID">Optional </label>
              <select class="form-control" name="optsortby">
                <option selected value=""> </option>
                <option value="asc"> >= </option>
                <option value="equal"> = </option>
                <option value="desc"> <= </option>
              </select>
            </div>

            <div class="col-sm-1">
                <label for="objectID">Optional </label>
              <select id="optsomeSelect" class="form-control" name="optimdbrating">
                      <!-- Javascript inserts options -->
              </select>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
              <label for="objectID">&emsp; </label>
              <input type="submit" class="btn btn-primary btn-xd" value="Search"></input>
            </div>
          </div>
        </div>
  <!-- <button type="submit" class="btn btn-primary btn-xd">Search</input> -->
</form>
